<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Memo">
    <insert id="insertMemo">
        insert into memo ( week, clas, title, keyword, content,understanding)
        values
        ( #{week} , #{clas} , #{title}, #{keyword} , #{content} , #{understanding})
    </insert>
    <update id="updateMemo">
        update memo
        set week=#{week}, clas=#{clas}, title=#{title}, keyword=#{keyword}, content=#{content}, understanding=#{understanding}
        where seq=#{seq}
    </update>
    <delete id="deleteMemo">
        delete from memo where seq=#{seq}
    </delete>
    <select id="getMemo" resultType="memo">
        select * from memo where seq=#{seq}
    </select>
    <select id="getMemoCnt"  resultType="Integer">
        select count(*) from memo
    </select>
    <select id="getMemoList" resultType="memo">
        select * from memo order by seq desc
    </select>
</mapper>